extends layout
block content       
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h3.display-4.m-d-2.text-center Alta de usurios
                form(method="POST", action="/alta")
                    .form-group
                        label(for="txtNombreC") Nombre Completo
                        input#txtNombreC(type="text", name="txtNombreC", placeholder="Nombre", class="form-control")
                    .form-group
                        label(for="txtUsuario")  Usuario
                        input#txtUsuario(type="text", name="txtUsuario", placeholder="Usuario", class="form-control")                        
                    .form-group
                        label(for="txtClave")  Clave
                        input#txtClave(type="text", name="txtClave", placeholder="Clave", class="form-control")                        
                    .text-center    
                        button.btn.btn-success(type='submit') ok         